<form asp-action="Delete" asp-controller="Events" method="post" >
    <div class="form-group">
        <label> Event Id</label>
        <input class="form-control" name="id" id="id" type="number" />
    </div>
    <button type="submit" class="btn btn-primary" >Delete Event</button>
</form>
